<div class="container-fluid" ng-controller="FaculdadeController as faculdade">

    <div class="row">
        <section class="col col-xs-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="glyphicon glyphicon-education"></i> Editar Faculdades</div>
                <div class="panel-body">
                    <form>
                        <fieldset>
                            <div class="row">
                                <section class="col col-xs-12">
                                    <label class="label">Nome:</label>
                                    <label class="input-sm">
                                        <input type="text" ng-model="e.nome">
                                    </label>                                           
                                </section>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>