<div class="container-fluid" ng-controller="FaculdadeController as faculdade">

    <div class="row">
        <section class="col col-xs-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Faculdades</div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="faculdade in faculdade.lista">
                                <td>{{faculdade.nome}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</button>
                                        <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Excluir</button>
                                    </div>
                                </td>
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>   
</div>