<div class="container-fluid" ng-controller="DisciplinaCadastroController as cadastro">
    <div class="row">
        <section class="col col-xs-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading"><i class="glyphicon glyphicon-education"></i> Editar Disciplina</div>
                <div class="panel-body no-padding">
                    <form class="smart-form">
                        <fieldset>                            
                            <div class="row">
                                <section class="col col-xs-12">
                                    <label class="label">Nome:</label>
                                    <label class="input">
                                        <input type="text" ng-model="cadastro.entidade.nome">
                                    </label>                                           
                                </section>
                            </div>
                            <div class="row">
                                <section class="col col-xs-12">
                                    <label class="label">Professor:</label>
                                    <label class="input">
                                        <input type="text" ng-model="cadastro.entidade.professor">
                                    </label>                                           
                                </section>
                            </div>
                        </fieldset>
                        <footer>
                            <button class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
                        </footer>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>