<div class="container-fluid" ng-controller="DisciplinaController as disciplina">

    <div class="row">
        <section class="col col-xs-12">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">Disciplinas <a class="btn btn-primary btn-xs" href="#/disciplina/cadastro/new" style="float:right">
                        <i class="glyphicon glyphicon-plus"></i> Adicionar
                    </a></div>
                <div class="panel-body" style="padding: 0px">
                    <table class="table table-hover" >
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Professor</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="disciplina in disciplina.lista">
                                <td>{{disciplina.nome}}</td>
                                <td>{{disciplina.professor}}</td>
                                <td>
                                    <div class="btn-group">
                                        <a href="#/disciplina/cadastro/{{disciplina.id}}" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i> Editar</a>
                                        <button class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Excluir</button>
                                    </div>
                                </td>
                            </tr>                        
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>   
</div>